<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812906321465-k9ntkopflcp0mlq3e321o1rsemjugc9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812906321465-k9ntkopflcp0mlq3e321o1rsemjugc9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>812906321465-p0pl78j703i6rr15ilbvlnhnk86a93l1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLnPzBW0hOiCompHb4nsYUCPF4RgVlo30</string>
	<key>GCM_SENDER_ID</key>
	<string>812906321465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.hayohtee.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-448f0</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-448f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812906321465:ios:995ba42eead6843aeadfe8</string>
</dict>
</plist>